body{
    background-color: rgb(152, 196, 235);
}
section{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    margin: auto;
}
footer{
    background-color:rgb(4, 9, 152);
    color: aliceblue;
    margin: auto;
    text-align: center;
}
div#res{
    margin: auto;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin: auto;
    align-items: center;
}