body{
    background-color: rgb(70, 142, 236);
    color: aliceblue;
}
header{
    margin: auto;
    text-align: center;
}
section{
    background-color: aliceblue;
    
    font-weight: 600;
    color: black;
    margin: auto;
    width: 400px;
    height: 300px;
    padding: 1%;
}
div{
    padding: 2%;
}
div#tab{
    margin: auto;
    text-align: center;
}
select{
    width: 150px;
    text-align: center;
}
footer{
    margin: auto;
    text-align: center;
}