body{
    background-color: rgb(48, 124, 239);
}
header{
    text-align: center;
    color: aliceblue;
}
section{
    background-color: aliceblue;
    margin: auto;
    width: 450px;
    height: auto;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}
select{
    width: 100px;
    height: auto;
}
footer{
    text-align: center;
    color: aliceblue;
}